<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- ===== Permissions ===== -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.ACCESS_RENDER_SCRIPT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- ===== Hardware Features ===== -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo1"
        android:supportsRtl="true"
        android:theme="@style/Theme.AttendanceTracker"
        tools:targetApi="31"
        >

        <!-- ===== Common Activities ===== -->
        <activity
            android:name=".common.WelcomeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".common.LoginActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".common.SubjectDetailedAttendanceActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <!-- ===== Admin Module ===== -->
        <activity
            android:name=".admin.AddSubjectsToTeacherActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".admin.AddScheduleToStudentActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".admin.AdminDashboardActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".admin.CreateScheduleActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".admin.CreateStudentActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".admin.CreateSubjectActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".admin.CreateTeacherActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".admin.EditStudentActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".admin.EditTeacherActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".admin.ScheduleDetailActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".admin.StudentDetailActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".admin.TeacherDetailActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".admin.ViewScheduleActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".admin.ViewStudentsActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".admin.ViewTeachersActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <!-- ===== Student Module ===== -->
        <activity
            android:name=".student.AttendanceHistoryActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".student.ClassScheduleActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".student.FaceScanLocationActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".student.QRScannerActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".student.StudentDashboardActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".student.StudentProfileActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <!-- ===== Teacher Module ===== -->
        <activity
            android:name=".teacher.QRDisplayActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".teacher.TeacherDashboardActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".teacher.ProfileTeacherActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".teacher.TeacherQRActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".teacher.TeacherViewStudentAttendanceActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <!-- ===== File Provider ===== -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
